@font-face 
    font-family 'Montserrat'
    src url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.eot') format('embedded-opentype'),
        url('Montserrat-ExtraBold.svg') format('svg')
    font-weight 800
    font-style normal
