.information
    background url('../img/content/bg.jpg')
    background-size: cover
    background-repeat: no-repeat

.information__wrapper
    display flex
    position relative
    padding-bottom: 132px;

.information__fullvers
    align-self: flex-end
    top 94px
    right 79px
    position absolute
    

.information__icon-link
    width 75px
    height 75px
    cursor pointer
    & svg 
        height 100%
        width 100%

.information__logo-wrp
    padding-left 286px
    padding-top 257px
    width 631px
    box-sizing: content-box
    & .logo__link
        width 100%

.information__content
    padding-left 22px
    padding-top 530px

.information__item
    padding-bottom 30px
    &:last-child
        padding-bottom 0px

.information__link 
    font-family: Montserrat;
    font-size: 43px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase
    color: #263576;
.modal
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    background rgba(0,0,0,0.6)
    z-index -2
    opacity: 0
    transition: 0.3s
    &.active
        display block
        opacity 1
        z-index 1

.modal__video
    height 100%
    width 100%
    object-fit: fill

.modal__exit
    top 94px
    right 79px
    position fixed
    width 75px
    height 75px
    z-index 5
    background url('../img/content/cancel.png')  no-repeat
    background-position: 50% 0%
    background-size: cover    
    cursor pointer 
    opacity 0
    transition: 0.2s
    .active & 
        opacity 1
